* {
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  background-color: #181818;
  color: #ffffff;
  min-height: 100vh;
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}


.main-card {
  width: 80%;
  max-width: 600px;
  transform: rotate(0deg);
  position: relative;
  aspect-ratio: 0.65 / 0.85;
  border-radius: 20px;
  transition: all 0.4s ease;
  background-color: #0080ce;
  text-shadow: 0 0 6px #ffffff60;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: 50% 100%;
  user-select: none;
}

.main-card:hover {
  transform: translateY(-20px) scale(1.02);
}

.habit h2 {
  font-size: clamp(22px, 10vw, 72px);
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.category {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
}

.category h4 {
  font-size: clamp(8pt, 5.6vw, 16pt);
  font-weight: normal;
}