* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  height: 100%;
  width: 100%;
}

body {
  background-color: #181818;
  color: #ffffff;
  min-height: 100vh;
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.warn-text {
  text-align: center;
  line-height: 1.2;
  z-index: 1000;
}

.warn-text h1 {
    font-size: clamp(1pt, 6vw, 42pt);
    text-shadow: 0 0 8px #ffffff60;
}